<%- include('./partials/head') %>

<article>
  <section class="profile-picture">
    <img src="<%= member.avatar%>" alt="profiel foto van <%= member.name%>" />
  </section>

  <section class="intro-text">
    <section class="title">
      <h1><%= member.name%></h1>
    </section>

    <section class="bio">
      <p><%= member.bio.html %></p>
    </section>
  </section>

  <section class="rating">
    <section class="skills">
      <dl>
        <dt>HTML</dt>
        <dd>★★★</dd>
        <dt>CSS</dt>
        <dd>★★</dd>
        <dt>JavaScript</dt>
        <dd>★★</dd>
      </dl>
    </section>
    <section class="github-link">
      <a href="<%= member.gitHubHandle%>">Github</a>
    </section>
  </section>

  <section class="spotify">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/playlist/0NfPWNoI0eBuroFs6fh57b?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </section>
</article>

<%- include('./partials/foot') %>
